:root {
	--wpe-label: "";
	--wpe-base-color: #23282d;
	--wpe-highlight-color: #72aee6;
}

/* Environment Label */

#wp-admin-bar-site-name {
	& > .ab-item::after {
		text-transform: uppercase;
		font-weight: 700;
		content: var(--wpe-label);
	}
}

/* Admin Bar */

#wpadminbar {
	background: var(--wpe-base-color);
}

#adminmenu li a:focus div.wp-menu-image::before,
#adminmenu li.opensub div.wp-menu-image::before,
#adminmenu li:hover div.wp-menu-image::before,
#adminmenu .wp-submenu a:focus,
#adminmenu .wp-submenu a:hover,
#adminmenu a:hover, #adminmenu li.menu-top > a:focus,
#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
	color: var(--wpe-highlight-color);
}

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div,
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {
	background-color: var(--wpe-base-color);
}

.notice-success, div.updated {
	border-left-color: var(--wpe-highlight-color);
}
